<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GeoradarGui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <GeoradarGui.Properties.Settings>
            <setting name="WindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>800, 540</value>
            </setting>
            <setting name="PortName" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="CommandBySize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogFileMaxSize" serializeAs="String">
                <value>1 MB</value>
            </setting>
            <setting name="LogFileSeparator" serializeAs="String">
                <value>semicolon</value>
            </setting>
            <setting name="LogEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DebuggingTextBoxAutoScroll" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScaleFactor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ScanStep" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="VisualisationMode" serializeAs="String">
                <value>green</value>
            </setting>
            <setting name="StaticDelay" serializeAs="String">
                <value>410000</value>
            </setting>
            <setting name="AveragingLineWindow" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AverageWindow" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AveragePoints" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DepthPoints" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="FilterCheckState" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TxPulseWidth" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="TxPulsePeriod" serializeAs="String">
                <value>32768</value>
            </setting>
            <setting name="DataEmulation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DistanceTimeCheckState" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DielectricPermitivity" serializeAs="String">
                <value>1</value>
            </setting>
        </GeoradarGui.Properties.Settings>
    </userSettings>
</configuration>
